users:
  -  full_name: 
     name: 
     ssh_public_key: 
mirror:
  protocol: 
  host: 
os:
  distro: 
  version: 
  appstream: 
  arch: 
host:
  name: 
database:
  method: sqlite
  host: /file.db
server:
  host: 
  scheme: 
